<% @page_title = "Quizme - Quiz" %>

<div class="content-wrapper stylish-forms" style="min-height: 800px">
    
    <div class="floating-profile-box" style="margin: 60px 175px 60px 175px">
        
        <div style="display:block; height: 50px;">
            <h1>What is my name?</h1>
        </div>
        
        <div style="display:block;">
            <div class="quiz"><%= image_tag @student.image.url(:medium) %>
    
            <%= form_tag check_answer_quiz_path(@teacher.id) %>
                <%= hidden_field_tag :student_id, @student.id %>
                <%= text_field :student, :full_name, :autocomplete => :off, :value => nil, :class => "center-input" %>
                <%= submit_tag "Check Answer" %>
                
                <%= flash[:correctAnswer] %>
                
            </div>

        </div>
        
    </div>
    
</div>