<p>First Name</p>
<%= f.text_field :first_name %>

<p>Last Name</p>
<%= f.text_field :last_name %>

<p>Course</p>
<%= f.collection_select :course_id, @courses, :id, :course_name %>

<p>Description</p>
<%= f.text_area :description %>

<p>Upload Photo</p>
<%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
