<% @page_title = "QuizMe - Your Students" %>

<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1>All students
            <span class="button-box"><%= link_to 'Add Student', new_student_path, :class => "title-bar-button"  %></span>
            <span class="button-box"><%= link_to 'Quiz Me', new_quiz_path, :class => "title-bar-button" %></span>
            </h1>
            
    </div>
</div>


<div class="content-wrapper clearfix">
    <% @students.each do |student| %>
                <div class="floating-box">
                    <h3 class="box-image"><%= image_tag student.image.url(:thumb) %></h3>
                    <h3><%= student.first_name %></h3>
                    <h3><%= student.last_name %></h3>
                    <p><%= link_to "More information", student_path(student) %></p>
                </div>
    <% end %>
    
    
    <% if false %>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @students.each do |student| %>
                <tr>
                    <td><%= image_tag student.image.url(:thumb) %></td>
                    <td><%= student.first_name %></td>
                    <td><%= student.last_name %></td>
                    <td><%= link_to "More information", student_path(student) %>
                </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>
    
</div>