<% @page_title = "QuizMe! - Your Students" %>

<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1>Your Students
            <%= link_to 'Take Quiz', quiz_students_path %>
            <%= link_to 'Add Student', new_student_path, :class => "button"  %></h1>
    </div>
</div>


<div class="content-wrapper">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @students.each do |student| %>
                <tr>
                    <td><%= image_tag student.image.url(:thumb) %></td>
                    <td><%= student.first_name %></td>
                    <td><%= student.last_name %></td>
                    <td><%= link_to "More information", student_path(student) %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>