<h1>All students</h1>

<div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @students.each do |student| %>
                <tr>
                    <td><%= image_tag student.image.url(:thumb) %></td>
                    <td><%= student.first_name %></td>
                    <td><%= student.last_name %></td>
                    <td><%= link_to "More information", student_path(student) %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
    <p><%= link_to 'Take Quiz', quiz_students_path %></p>
    <p><%= link_to 'Add Student', new_student_path, :class => "button"  %></p>