

<% @students.each do |student| %>
    <%= image_tag student.image.url(:medium) %>

    <p>First Name: <%= student.first_name %></p>
    <p>Last Name: <%= student.last_name %></p>
    <p>Description: <%= student.description %></p>
    <p>Enrolled in: <%= student.course.course_name %></p>
    
<% end %>

<p><%= paginate @students %></p>
<br />

<p><%= link_to 'Back to Students', students_path %>