

<div class="width-restraint">
    <% @students.each do |student| %>
        <%= image_tag student.image.url(:medium) %>
        <h2>What is my name?</h2>
        <%= form_tag quiz_students_path, :method => :post %>
            <%= hidden_field_tag :page, @students.current_page %>
            <%= hidden_field_tag :student_id, student.id %>
            <%= text_field :student, :full_name %>
            <%= submit_tag "Check Answer" %>
        
        <%= div_for(student, class: @class) do %>
            <p>Name: <%= student.first_name %> <%= student.last_name %></p>
            <p>Description: <%= student.description %></p>
            <p>Enrolled in: <%= student.course.course_name %></p>
    
    
            <p><%= link_to_next_page @students, "Next" %></p>
            <br />
    
        <% end %>
    <% end %>
    
    <p><%= link_to 'Back to Students', students_path %></p>
</div>