<% @page_title = "QuizMe - Student Profile" %>
    
<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
         <h1> <div class="sub-header-text"><%= @student.first_name + " " + @student.last_name %></div>
             <span class="button-box"><%= link_to 'Remove Student', student_path(@student), :method => :delete, :class => @button_class, :style => "background:red"  %></span>
             <span class="button-box"><%= link_to 'Edit Student', edit_student_path, :class => @button_class, :style => "background:tan"  %> </span>
         </h1>
    </div>
</div>




<div class="content-wrapper">
    
    <div class="profile-image-container">
        <%= image_tag @student.image.url(:medium) %>
    
    </div>
    
    <div class="floating-profile-box">
        
        <div style="margin-bottom: 20px;">
            <h2>Name:</h2>
            <h3><%= @student.full_name %></h3>
        </div>
        
        <div style="margin-bottom: 20px;">
            <h2>Username:</h2>   
            <h3><%= @student.username %></h3>
        </div>
        
        <div style="margin-bottom: 20px;">
            <h2>Email address:</h2>
            <h3><%= @student.email_address %></h3>
        </div>
        
        <div style="margin-bottom: 20px;">
            <h2>Description:</h2>
            <h3><%= @student.description %></h3>
        </div>
        
        <div style="margin-bottom: 20px;">
            <h2>Enrolled in:</h2>
            <h3><%= @student.course.course_name %></h3>

        </div>
        
    </div>
    
</div>
