<% @page_title = "QuizMe - Student Profile" %>

<div class="pagehead innerHeadContainer">
    <div class="sub-header">
        <div class="width-restraint">
            <span class="sub-header-text"><%= @student.full_name %></span>
            <span class="button-box"><%= link_to 'Remove Student', student_path(@student), data: {confirm: 'Are you sure? This action is not reversible.'}, :method => :delete, :class => @button_class, :style => "background:red"  %></span>
            <span class="button-box"><%= link_to 'Edit Student', edit_student_path, :class => @button_class, :style => "background:tan"  %> </span>
        </div>
    </div>
</div>



<div class="content-wrapper">
    
    <div class="profile-image-container">
        <%= image_tag @student.image.url(:medium) %>
    
    </div>
    
    <div class="floating-profile-box">
        
        <div style="margin-bottom: 20px;">
            <h2>Name:</h2>
            <h3><%= @student.full_name %></h3>
        </div>
        
        <div style="margin-bottom: 20px;">
            <h2>Username:</h2>   
            <h3><%= @student.username %></h3>
        </div>
        
        <% if :is_teacher %>
            <div style="margin-bottom: 20px;">
                <h2>How well you know me:</h2>
                <% if @student.quiz_score > 0 %>
                    <h3 style="color:green"><%= "+" + @student.quiz_score.to_s %></h3>
                <% elsif @student.quiz_score < 0 %>
                    <h3 style="color:red"><%= @student.quiz_score %></h3>
                <% else %>
                    <h3><%= @student.quiz_score %></h3>
                <% end %>
            </div>
        <% end %>
        
        <div style="margin-bottom: 20px;">
            <h2>Email address:</h2>
            <h3><%= @student.email_address %></h3>
        </div>
        
        <div style="margin-bottom: 20px;">
            <h2>Description:</h2>
            <h3><%= @student.description %></h3>
        </div>
        
        <div style="margin-bottom: 20px;">
            <h2>Enrolled in:</h2>
            <h3><%= @student.course.course_name %></h3>
        </div>
        
    </div>
    
</div>
