<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1> Create an account as a student </h1>
    </div>
</div>

<div class="content-wrapper">
    <p style="color:red;">*all fields are mandatory</p>
    
    <%= form_for @student, :url => {:action => "register"}, :html => { :multipart => true } do |f| %>
    
    
    <table summary="Student form fields">
        <tr>
            <td><%= f.label :username, 'Username' %></th>
            <td><%= f.text_field :username %></td>
        </tr>
        
        <tr>
            <td><%= f.label :password, 'Password' %> </th>
            <td><%= f.password_field :password %> </td>
        </tr>
        
        <tr>
            <td><%= f.label :first_name, 'First Name' %> </td>
            <td><%= f.text_field :first_name %> </td>
        </tr>
        
        <tr>
            <td><%= f.label :last_name, 'Last Name' %> </th>
            <td><%= f.text_field :last_name %> </td>
        </tr>
        
        <tr>
            <td><%= f.label :email_address, 'Email address' %> </th>
            <td><%= f.text_field :email_address %> </td>
        </tr>
        
        <tr>
            <td><%= f.label :generatedID, 'Course ID (your teacher gives you this)' %> </th>
            <td> <%= f.text_area :generatedID %> </td>
        </tr>
        
        <tr>
            <td><%= f.label :description, 'Description' %> </th>
            <td><%= f.text_area :description %> </td>
        </tr>
        
        <tr>
            <td><%= f.label :image, 'Upload Photo' %> </th>
            <td><%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %> </td>
        </tr>
    
        
        </table>
        

    <%= f.submit 'Register Student', :class => "button" %>
        
    <br />
        
        
    <% end %>

</div>