<% @page_title = "Register for a student account" %>

<div class="login-body">
    <div class="overlay-container">
        <div class="content-wrapper">
            <div class="student-registration stylish-forms">
                
                <h1> Create an account as a student </h1>

              
                <% session[:new_user_type] = "student" %>
                
                <%= form_for @student, :url => {:action => "register"}, :html => { :multipart => true } do |f| %>
                <p>Username</p>
                <%= f.text_field :username %>
                
                <p>Password</p>
                <%= f.password_field :password %>
                
                <p>Confirm Password</p>
                <%= f.password_field :password_confirmation %>
                
                <p>First name</p>
                <%= f.text_field :first_name %>
                
                <p>Last name</p>
                <%= f.text_field :last_name %>
                
                <p>Course ID (your teacher gives you this)</p>
                <%= f.text_field :generatedID %>
                
                <%= f.text_field :email_address, :class => "hidden", :value => "yyy@yyy.com" %>
                <%= f.text_area :description, :class => "hidden", :value => "This is a generic description. Update it by clicking Edit Profile." %>
                
                <p>Upload photo</p>
                <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %> 
                
                <p style="color:yellow;">*all fields are mandatory</p>
        
                <%= f.submit 'Register Student', :class => "button" %>
            
                
     
                
                
            <% end %>

                
            </div>
        </div>
    </div>
</div>