<h1>Welcome to the home page!</h1>

<p><%= link_to 'Go to Students', '/students' %></p>
<p><%= link_to 'Go to Courses', '/courses' %></p>
<p><%= link_to 'Go to Teachers', '/teachers' %></p>

<p><%= link_to 'Login', '/access/login' %></p>
<p><%= link_to 'Logout', '/access/logout' %></p>

