<% @page_title = "Quizme - Login" %>

<div class="login-body">
    <div class="overlay-container">
        <div class="content-wrapper">
            <div class="login stylish-forms">
                
                <h1>Login here</h1>
                
                <%= form_tag(access_attempt_login_path, :method => :post) do %>
                
                <%= label_tag :username, "Username" %>
                <%= text_field_tag(:username, params[:username]) %>
                
                <%= label_tag :password, "Password" %>
                <%= password_field_tag(:password) %>
                
                <%= submit_tag "Log In" %>

                <button class="loginBtn loginBtn--google">
                  <%= link_to "Teachers: log in with Google", "/auth/google_oauth2", id: "sign_in", style: "color:white" %>
                </button>

                <a class="simple-link" href='/access/accountType'>Don't have an account?</a>
                <% end %>
            
                
            </div>
        </div>
    </div>
</div>
