<% @page_title = "Login" %>

<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1> Log in </h1>
    </div>
</div>

<div class="content-wrapper">
    <div class="login">
        <%= form_tag(access_attempt_login_path, :method => :post) do %>
        <table>
            <tr>
                <td><%= label_tag(:username) %></td>
                <td><%= text_field_tag(:username, params[:username]) %></td>
            </tr>
            <tr>
                <td><%= label_tag(:password) %></td>
                <td><%= password_field_tag(:password) %></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><%= submit_tag "Log In" , :class => "button" %></td>
            </tr>
        </table>
        <% end %>
    </div>
</div>