<p>Username</p>
<%= f.text_field :username %>

<p>Password</p>
<%= f.password_field :password %>

<<<<<<< HEAD
=======
<p>Confirm Password</p>
<%= f.password_field :password_confirmation %>

>>>>>>> master
<p>Email address</p>
<%= f.text_field :email_address %>

<p>First name</p>
<%= f.text_field :first_name %> 

<p>Last name</p>
<%= f.text_field :last_name %>

<p>Upload photo</p>
<%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>