

<p><%= image_tag @teacher.image.url(:medium) %></p>
<p>First Name: <%= @teacher.first_name %></p>
<p>Last Name: <%= @teacher.last_name %></p>
<p>Username: <%= @teacher.username %></p>

<p><%= link_to 'Edit Teacher', edit_teacher_path %></p>

<p><%= link_to 'Remove Teacher', teacher_path(@teacher), :method => :delete %></p>