<style>
body {background-color: #ccbbea;}
</style>

<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <div class="sub-header"> 
        
            <div class="sub-header-text"><%= @teacher.username %></div>
                <div style="display: inline-block; float:right;">
                    <span class="button-box"><%= link_to 'Delete Your Profile', teacher_path(@teacher), :method => :delete, :class => @button_class, :style => "background:red" %></span>
                    <span class="button-box"><%= link_to 'Edit Your Profile', edit_teacher_path, :class => @button_class, :style => "background:tan" %></span>
                </div>
            </div> 
        
        </div>
    </div>
</div>



<div class="content-wrapper">
    
    <div class="profile-image-container">
        <%= image_tag @teacher.image.url(:medium) %>
    
    </div>
    
    <div class="floating-profile-box">
        
        <div style="margin-bottom: 20px;">
            <h2>Name:</h2>
            <h3><%= @teacher.full_name %></h3>
        </div>
        
        <div style="margin-bottom: 20px;">
            <h2>Username:</h2>   
            <h3><%= @teacher.username %></h3>
        </div>
        
        <div style="margin-bottom: 20px;">
            <h2>Email address:</h2>
            <h3><%= @teacher.email_address %></h3>
        </div>

        <h2>My courses:</h2>
        <% @courses.each do |course| %>
            <h3><%= link_to course.course_name, course_path(course) %></h3>
        <% end %>
    </div>
    
</div>
