

<p><%= image_tag @teacher.image.url(:medium) %></p>
<p>First Name: <%= @teacher.first_name %></p>
<p>Last Name: <%= @teacher.last_name %></p>
<p>Username: <%= @teacher.username %></p>

<p><%= link_to 'Edit Your Profile', edit_teacher_path %></p>

<p><%= link_to 'Delete Your Profile', teacher_path(@teacher), :method => :delete, :class => "button", :style => "background:red" %></p> 