


<p>First Name: <%= @teacher.first_name %></p>
<p>Last Name: <%= @teacher.last_name %></p>
<p>Username: <%= @teacher.username %></p>


<p><%= link_to 'Back to Teachers', '/teachers' %>   <%= link_to 'Back to Home', '/home' %>