<% @page_title = "QuizMe - Your Profile" %>

<style>
body {background-color: #ccbbea;}
</style>

<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1> <%= session[:username] %>
            <span class="button-box"><%= link_to 'Delete Your Profile', teacher_path(@teacher), :method => :delete, :class => "title-bar-button", :style => "background:red" %></span>
            <span class="button-box"><%= link_to 'Edit Your Profile', edit_teacher_path, :class => "title-bar-button", :style => "background:tan" %></span>
            </h1> 
    </div>
</div>



<div class="content-wrapper">
    
    <div class="profile-image-container">
        <%= image_tag @teacher.image.url(:medium) %>
        <h2>First Name: <%= @teacher.first_name %></h2>
        <h2>Last Name: <%= @teacher.last_name %></h2>
        <h2>Username: <%= @teacher.username %></h2>
    
    </div>
    
</div>
