<!DOCTYPE html>
<html>

<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Nunito:600" rel="stylesheet">
<head>
  
  <title><%= @page_title || "Quizme" %></title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <% if !flash.empty? %>
    <ul id="temporary_background" class="navbar navbar-static-top">
  <% else %>
    <ul class="navbar navbar-static-top">
  <% end %>

    <% if session[:username] != nil %>
      <% if session[:user_type] == "Teacher" %>
        <li><a href="/courses" class="title">QuizMe</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><%= link_to "Students", students_path %></li>
        <% if !flash.empty? %>
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}", :id => "notice") %>
          <% end %>
        <% end %>
        
        <li style="float:right"><a class="active" href="/access/logout">Logout</a></li>
        <li style="float:right"> <%= link_to session[:username], Teacher.find_by(:username => session[:username]) %> </li>
      
      <% elsif session[:user_type] == "Student" %>
        <li><%= link_to "QuizMe", course_path(Student.find(session[:user_id]).course_id), :class => "title" %></li>
        <li><%= link_to "Course", course_path(Student.find(session[:user_id]).course_id) %></li>
        <li><%= link_to "Teacher",  teacher_path(Student.find(session[:user_id]).course.teacher_id) %> </li>
        <% if !flash.empty? %>
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}", :id => "notice") %>
          <% end %>
        <% end %>
        
        <li style="float:right"><a class="active" href="/access/logout">Logout</a></li>
        <li style="float:right"> <%= link_to session[:username], Student.find_by(:username => session[:username]) %> </li>
      
      <% else %>
        <li> Something went wrong.</li>
        <% if !flash.empty? %>
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}", :id => "notice") %>
          <% end %>
        <% end %>
        <li style="float:right"><%= link_to "Logout", access_logout_path %></li>
      <% end %>

      
      
    <% else %>
    
      <li><a href="/home" class="title">QuizMe</a></li>
      <% if !flash.empty? %>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}", :id => "notice") %>
        <% end %>
      <% end %>

      <li style="float:right"><a class="active button" href="/access/accountType">Sign Up</a></li>
      <li style="float:right"><a class="active" href="/access/login">Login</a></li>
      
    <% end %>
    
  </ul>


</head>
<body>

    <%= yield %>
    
    
    
  <div class="page-footer">
    <p>This application brought to you by Walter, Autumn, and Hana</p>
  </div>

<script>
  $(document).ready(function() {

    setTimeout(function(){
      $('#notice').fadeOut("slow"), function() {
        $(this).remove();
      };
      
    }, 2000);
  });
</script>

</body>
</html>
