<!DOCTYPE html>
<html>
<head>
  
  <title><%= @page_title || "Quizme" %></title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <% if !flash.empty? %>
    <ul id="temporary_background" class="navbar navbar-static-top">
  <% else %>
    <ul class="navbar navbar-static-top">
  <% end %>

    <% if session[:username] != nil %>
        
      <li><a href="/courses" style="font-size:1.5em;">QuizMe</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><%= link_to "Students", students_path %></li>
      <% if !flash.empty? %>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}", :id => "notice") %>
        <% end %>
      <% end %>

      <li style="float:right"><a class="active" href="/access/logout">Logout</a></li>
      <li style="float:right"> <%= link_to session[:username], Teacher.find_by(:username => session[:username]) %> </li>
      
    <% else %>
    
      <li><a href="/home" style="font-size:1.5em;">QuizMe</a></li>
      <% if !flash.empty? %>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}", :id => "notice") %>
        <% end %>
      <% end %>

      <li style="float:right"><a class="active button" href="/access/accountType">Sign Up</a></li>
      <li style="float:right"><a class="active" href="/access/login">Login</a></li>
      
    <% end %>
    
  </ul>


</head>
<body>

    <%= yield %>

<script>
  $(document).ready(function() {

    setTimeout(function(){
      $('#notice').fadeOut("slow"), function() {
        $(this).remove();
      };
      
    }, 2000);
  });
</script>

</body>
</html>
